.main-container{
    width: 100%;
    display: grid;
    grid-template-areas:
        "main-header"
        "main-content"
        "main-footer";
    grid-template-rows: 1fr auto 3fr;
}

.nav-link{
    text-decoration: none;
    color: inherit;
}

.nav-link:hover{
    color: var(--color-accent-1);
}


