
.main-container{
    min-height: 100vh; 
    display: grid;
    grid-template-areas:
        "main-header"
        "main-content"
        "main-footer";
    grid-template-rows: auto 1fr auto; 
    background-color: var(--color-primary-0); 
}

.main-header {
    grid-area: main-header;
    position: sticky; 
    top: 0;
    z-index: 1000;
    box-shadow: var(--shadow-sm); 
}

.main-content {
    grid-area: main-content;
}

.main-footer {
    grid-area: main-footer;
    padding: var(--spacing-md) 0;
    background-color: var(--color-primary-2); 
    color: var(--color-primary-1);
    text-align: center;
}


