.products-list-page-container{
    display: grid;
    grid-template-areas:
        "products-list-sidebar products-list-content";
    grid-template-columns: 250px auto;
}

.page-sidebar{
    grid-area: products-list-sidebar;
    padding: var(--spacing-lg);
}