.products-list-page-container{
    display: grid;
    grid-template-areas:
        "products-list-sidebar products-list-content";
    grid-template-columns: 1.5fr 7fr;
}

.page-sidebar{
    grid-area: products-list-sidebar;
    
}

.product-page-content{
    grid-area: products-list-content;
    padding: var(--spacing-lg);
    margin: 0 200px;
}