.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 40px;
    padding-left: 100px;
    padding-right: -25x;
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr 1fr;
    }
}

