
.homepage {
    width: 100%;
    overflow-x: hidden;
}

/* HERO BANNER  */
.hero-banner {
    background: url('../../../assets/images/BannerHompage.png') center center no-repeat;
    background-size: cover;
    color: var(--color-primary-0);
    position: relative;
    padding: 8rem 1rem;
    min-height: 500px; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); 
}


.hero-banner > * {
    position: relative;
    z-index: 10;
}

.hero-banner h1 {
    font-size: clamp(2.5rem, 5vw + 1rem, 5rem); 
    color: var(--color-primary-0);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.05em; 
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6); 
}

.hero-banner p {
    max-width: 700px; 
    margin: 0 auto 2rem;
    font-size: 1.25rem; 
    line-height: 1.6;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-banner .btn-primary {
    margin-top: 2rem; 
    padding: 1rem 3rem; 
    font-size: 1.1rem;
}

/* CÁC SECTION CHUNG */
.homepage section {
    padding: var(--spacing-lg) 0; 
}

.homepage h2 {
    text-align: center;
    margin-bottom: var(--spacing-lg);
    font-weight: 700;
}

/* SẢN PHẨM NỔI BẬT  */
.featured-products {
    background-color: var(--color-primary-0);
}
