
.spinner1 {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    
    border: 4px solid var(--color-secondary-2); 
    border-top-color: var(--color-primary-0); 
    
    animation: spin 0.8s infinite linear;
}

/* Định nghĩa animation quay */
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}


.spinner2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    background: var(--color-primary-0); 
    
    animation: bounce 1.4s infinite ease-in-out both;
}

@keyframes bounce {
    0%, 80%, 100% { 
        transform: scale(0);
    } 
    40% { 
        transform: scale(1.0);
    }
}

