.login-page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: var(--color-primary-2); 
    padding: var(--spacing-md);
    padding-top: 7rem;
}

.login-card {
    width: 100%;
    max-width: 400px; 
    padding: 2rem; 
    background-color: var(--color-primary-0); 
    border-radius: 6px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
}

.login-heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: var(--color-secondary-0);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

.w-full, 
.border,
.gray,
.custom-input-style {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important; 
    box-sizing: border-box; 
    border: none !important; 
}

/* Wrapper chứa Input và Label */
.custom-input-style .input-content-wrapper {
    position: relative;
    padding-top: 15px; 
    padding-bottom: 4px; 
}

/* Input field */
.custom-input-style input {
    width: 100%;
    padding: 2px 0 10px 0 !important; 
    font-size: 1.1rem !important;
    color: var(--color-primary-1);
    background: transparent;
    outline: none;
    z-index: 2;
    border: none !important; 
    border-bottom: 1px solid var(--color-primary-4) !important; 
    transition: all 0.3s ease;
}

/* Label (Floating Label) */
.custom-input-style label {
    position: absolute; 
    top: 50%; 
    left: 0;
    transform: translateY(-50%);
    font-size: 1.1rem !important; 
    color: var(--color-primary-3);
    pointer-events: none; 
    transition: all 0.2s ease-out; 
    z-index: 3;
}

.custom-input-style input:focus + label,
.custom-input-style input:not(:placeholder-shown) + label { 
    top: 0; 
    font-size: 0.8rem !important;
    color: var(--color-secondary-0); 
    transform: translateY(0);
}

.login-link-group {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
    color: var(--color-primary-1); 
}

.back-home {
    margin-top: 0.5rem;
}

.primary-link {
    color: var(--color-secondary-0); 
    font-weight: 600;
}

.primary-link:hover {
    text-decoration: underline;
}

.secondary-link {
    color: var(--color-primary-3);
}

.secondary-link:hover {
    color: var(--color-primary-1); 
}

.error-message {
    color: var(--color-accent-1); 
    background-color: rgba(168, 37, 13, 0.05); 
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
    border-radius: var(--border-radius-sm);
    text-align: center;
    font-size: 0.9rem;
    border: 1px solid rgba(161, 30, 7, 0.2);
}