
/* Sidebar ngoài cùng */
.page-sidebar {
    margin: 1rem 15px 0 15px;
    padding: 20px 10px 10px var(--spacing-md);
    background-color: var(--color-primary-0); 
    max-width: 300px;
    border-right: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 80vh;
    height: auto; 
}

/* Tiêu đề Bộ Lọc */
.page-sidebar h3 {
    color: var(--color-primary-1); 
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--color-primary-2);
    padding-bottom: 5px;
}

/*  Nhóm Bộ Lọc (Loại sản phẩm, Mức giá)  */
.filter-group {
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: start;
    padding: 10px 0; 
    border-bottom: 1px solid var(--color-primary-2); 
}

.filter-group:last-of-type {
    border-bottom: none; 
}

/* Tiêu đề nhóm (Loại sản phẩm, Mức giá) */
.filter-group h4 {
    color: var(--color-primary-1);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Định kiểu cho các mục nhập (checkbox/radio) và nhãn */
.filter-group label {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 15px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 0.8rem;
    color: var(--color-primary-1);
}

/* Định kiểu cho checkbox và radio */
.filter-group input[type="checkbox"],
.filter-group input[type="radio"] {
    appearance: none; 
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-primary-3); 
    border-radius: 3px; 
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    top: -1px; 
}

/* Custom style cho CHECKBOX khi được chọn */
.filter-group input[type="checkbox"]:checked {
    background-color: var(--color-secondary-0); 
    border-color: var(--color-secondary-0);
}

.filter-group input[type="checkbox"]:checked::before {
    content: '\2713'; 
    color: var(--color-primary-0);
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 2px;
}

.filter-group input[type="radio"] {
    border-radius: 50%; 
}

.filter-group input[type="radio"]:checked {
    border: 6px solid var(--color-secondary-0); 
    background-color: var(--color-primary-0); 
}

/* Nút Xóa Bộ Lọc */

.page-sidebar .btn-secondary {
    margin-top: 3px;
    margin-left: 0px;
    align-self: flex-start;
    width: auto;
    border-radius: 7px;
    text-align: center;
    transition: all 0.3s ease;
}

