
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600; 
    border: 1px solid transparent; 
    transition: all 0.3s ease;
    cursor: pointer;
}


.btn-shape-base{
    border-radius: 20px; 
}

.btn-size-small {
    min-width: 7rem;
    padding: 8px 15px;
    font-size: 0.9rem;
    margin: 0.2rem;
}
.btn-size-medium {
    padding: 12px 20px;
    font-size: 1rem;
    margin: 0.2rem;
}

.btn-color-0 {
    background-color: var(--color-primary-2); 
    color: var(--color-primary-1); 
    border-color: var(--color-primary-2);
}

.btn-color-0:hover {
    background-color: var(--color-secondary-0); 
    color: var(--color-primary-0); 
    border-color: var(--color-secondary-0);
}

.btn-color-1 {
    background-color: var(--color-secondary-0);
    color: var(--color-primary-0);
    border-color: var(--color-secondary-0);
}

.btn-color-1:hover {
    background-color: var(--color-secondary-1); 
    color: var(--color-primary-0);
    border-color: var(--color-secondary-1);
}