.btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* */
.btn-shape-base{
    border: none;
    border-radius: 4px;
    font-family: var(--font-family-body), sans-serif;
    cursor: pointer;
}


/* Size */
.btn-size-small {
    font-size: 0.9rem;
    width: 5.2rem;
    height: 2.2rem;
    margin: 0.2rem;
}
