.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */
.btn-shape-base{
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Size */
.btn-size-small {
    font-size: 0.8rem;
    width: 6rem;
    height: 2.2rem;
    margin: 0.2rem;
}

/* Color */
.btn-color-0:hover{
    background-color: var(--color-accent-1);
    color: var(--color-primary-0);
}

.btn-color-1 {
    background-color: var(--color-secondary-0);
    color: var(--color-primary-0);
}
.btn-color-1:hover {
    background-color: var(--color-secondary-1);
    color: var(--color-primary-0);
}