
.card {
    position: relative; 
    background: var(--color-primary-0); 
    overflow: hidden;
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}

.product-card {
    padding: 15px; 
    height: 100%; 
}