
.card {
    position: relative; 
    background: var(--color-primary-0) !important; 
    overflow: hidden !important; 
    border-radius: 14px; 

}

.product-card{
    padding: 10px;
    height: 100%; 
}
