.logo{
    max-width: 100%;
    height: auto;
}
.logo-size-small{
    width: 2rem;
}
.logo-size-medium{
    width: 4rem;
}
.logo-size-large{
    width: 6rem;
}

.navbar-logo img,
.navbar-logo svg {
    height: 55px; 
    width: auto; 
}