.admin-form-container{
    background-color: var(--color-primary-2);
    display: flex;
    flex-direction: column;
}

.admin-form-colum-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}