
.navbar {
    display: grid;
    grid-template-areas: "navbar-logo navbar-nav navbar-actions";
    grid-template-columns: auto auto 1fr; 
    width: 100%;
    height: 60px; 
    padding: 0; 
    gap: 1rem; 
    background-color: var(--color-primary-0);
}

/* NAVIGATION LINKS AREA  */
.navbar-nav {
    grid-area: navbar-nav;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 1.5rem; 
    padding-right: 0;
}

.navbar-logo, .navbar-nav {
    padding-left: var(--spacing-md); 
    display: flex;
    align-items: center; 
}

.navbar-nav a {
    color: var(--color-primary-1);
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-nav a:hover {
    color: var(--color-secondary-0);
}


/* --- ACTIONS AREA --- */
.navbar-actions {
    grid-area: navbar-actions;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-end; 
    gap: 5px; 
    padding-right: 0.2rem; 
}

.navbar-actions > * {
    color: var(--color-primary-1);
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.3s ease;
}


.navbar-actions button {
    font-weight: 600;
    transition: all 0.3s ease;
}


