
.navbar {
    background-color: var(--color-background-light); 
  
    border-bottom: 1px solid #e0e0e0; 
    padding: 10px 0; 
}

.navbar-container {
    display: flex;

    justify-content: flex-start; 
    align-items: center;
    gap: 40px; 
    padding: 10px 0;
}

/* Định dạng khu vực (Trang chủ, Sản phẩm) */
.navbar-nav {
    display: flex;
    gap: 20px; 

    margin-right: auto;
}

/* Định dạng các NavLink */
.nav-link {
    color: var(--color-heading); 
    font-weight: 500;
    padding: 5px 0;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--color-primary); 
}

/* Định dạng khu vực Actions (Nút Login) */
.navbar-actions {
    display: flex;
    align-items: center;
    
}


.navbar-actions button {
 
    background-color: var(--color-1);
    color: white;
    padding: 8px 15px; 
    border-radius: 20px; 
    font-weight: 600;
    transition: background-color 0.3s;
}

.navbar-actions button:hover {
    background-color: #00a32b;
}