.navbar{
    display: grid;
    grid-template-areas: "navbar-logo navbar-nav navbar-actions";
    grid-template-columns: 1fr 17fr 3fr;
    padding: 0.2rem;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.navbar-logo{
    display: flex;
    justify-content: center;
}

.navbar-nav{
    display: flex;
    gap: 3rem;
    padding-right: 5rem;
}

.navbar-actions{
    margin-right: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
}