:root {
    --color-primary-0: #FFFFFF;
    --color-primary-1: #171A1F;
    --color-primary-2: #F3F4F6;

        --color-secondary-0: #0EA89B;
    --color-secondary-1: #0D83A8;

    --color-accent-0: #0DA832;
    --color-accent-1: #A8250D;

    --font-size-base: clamp(14px, 1.2vw, 18px);
    --font-family-heading: Sarabun;
    --font-family-body: Lato, sans-serif;
}


html {
    box-sizing: border-box;
    font-size: var(--font-size-base);
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-body), sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    align-items: center;

}

